:root {
  --body-max-width: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-col input[type="text"],
.form-col select {
  margin-right: 0;
}

.tabs-container {
  min-height: 190px;
}

a-tab-group:not(:defined) {
  display: none;
}

a-tab-group {
  --selected-tab-color: var(--links);
}

a-tab-panel h3 {
  margin-top: 0;
}

a-tab-panel :last-child {
  margin-bottom: 0;
}

/* Component custom style */
a-tab-group.custom-style {
  --selected-tab-color: var(--background-body);
  --selected-tab-bg-color: var(--links);
  --tab-group-border-color: var(--border);
  --tab-group-bg-color: #ffffff;

  border: 1px solid var(--tab-group-border-color);
  border-radius: 4px;
  background-color: var(--tab-group-bg-color);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  a-tab-group.custom-style {
    --tab-group-bg-color: var(--background);
  }
}

a-tab-group.custom-style::part(tabs) {
  padding: 0.5rem;
}

a-tab-group.custom-style::part(panels) {
  padding: 1rem;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--tab-group-border-color);
}

a-tab-group[placement="bottom"].custom-style::part(panels) {
  border-width: 0 0 1px 0;
}

a-tab-group[placement="start"].custom-style::part(panels) {
  border-width: 0 0 0 1px;
}

a-tab-group[placement="end"].custom-style::part(panels) {
  border-width: 0 1px 0 0;
}

a-tab-group.custom-style a-tab {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

a-tab-group.custom-style a-tab[selected] {
  background-color: var(--selected-tab-bg-color);
  color: var(--selected-tab-color);
}

a-tab-group[placement="start"].custom-style a-tab,
a-tab-group[placement="end"].custom-style a-tab {
  justify-content: center;
}

a-tab-group.custom-style a-tab-panel * {
  color: var(--panels-color);
}

a-tab-group.custom-style::part(scroll-button) {
  background-color: var(--tab-group-bg-color);
}
