:root {
  --body-max-width: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body.no-js details {
  display: none;
}

body.no-js a-tab-group:not(:defined) {
  display: block;
}

body:not(.no-js) a-tab-group:not(:defined) {
  display: none;
}

body.no-js a-tab,
body.no-js a-tab-panel {
  display: block;
}

@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-col input[type="text"],
.form-col input[type="number"],
.form-col select {
  margin-right: 0;
}

.tabs-container:not(.no-js) {
  min-height: 110px;
}

/* Component custom style */
a-tab-group.custom-style {
  --selected-tab-color: var(--background-body);
  --selected-tab-bg-color: #005fcc;
  --tab-group-border-color: var(--border);
  --tab-group-bg-color: #ffffff;
  --scroll-button-inline-offset: 0.25rem;

  --tab-color: red;
  --tab-panel-color: green;

  border: 1px solid var(--tab-group-border-color);
  border-radius: 0.25rem;
  background-color: var(--tab-group-bg-color);
  overflow: hidden;
}

a-tab-group.custom-style::part(scroll-button) {
  border-radius: 0.25rem;
}

a-tab-group.custom-style::part(tabs) {
  padding: 0.5rem;
}

a-tab-group.custom-style::part(panels) {
  padding: 1rem;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--tab-group-border-color);
}

a-tab-group[placement="bottom"].custom-style::part(panels) {
  border-width: 0 0 1px 0;
}

a-tab-group[placement="start"].custom-style::part(panels) {
  border-width: 0 0 0 1px;
}

a-tab-group[placement="end"].custom-style::part(panels) {
  border-width: 0 1px 0 0;
}

a-tab-group.custom-style a-tab {

  border-radius: 0.25rem;
}

a-tab-group[placement="top"].custom-style a-tab,
a-tab-group[placement="bottom"].custom-style a-tab {
  margin: 0 0.25rem;
  justify-content: center;
}

a-tab-group[placement="start"].custom-style a-tab,
a-tab-group[placement="end"].custom-style a-tab {
  margin: 0.25rem 0;
  justify-content: center;
}

a-tab-group.custom-style a-tab[selected]::part(close-tab) {
  color: var(--selected-tab-color);
}

@media (prefers-color-scheme: dark) {
  a-tab-group {
    --selected-tab-color: #99c8ff;
  }

  a-tab-group.custom-style {
    --selected-tab-bg-color: #99c8ff;
    --tab-group-bg-color: #202125;
    --tab-group-border-color: #494c50;
  }
}
