:root {
  --body-max-width: 768px;
  --orange: #856609;
  --green: #0a7a46;
  --red: #cd1a2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --orange: #e1ad10;
    --green: #0fd97b;
    --red: #fb7582;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

body.no-js details:not(.source-code),
body.no-js .nav-instructions {
  display: none;
}

body.no-js a-tab-group:not(:defined) {
  display: block;
}

body:not(.no-js) a-tab-group:not(:defined) {
  display: none;
}

body.no-js a-tab,
body.no-js a-tab-panel {
  display: block;
}

body.no-js a-tab-panel {
  margin-block-end: 1rem;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-col input[type="text"],
.form-col input[type="number"],
.form-col select {
  margin-right: 0;
}

browser-window::part(base) {
  border-color: var(--border);
}

browser-window::part(main) {
  padding: 0.5rem 1rem;
}

#events {
  max-height: 200px;
}

.events-details:has(#events:empty) #clearEventsBtn {
  display: none;
}

.events-details > p {
  margin: 0;
}

.events-details > pre {
  margin-top: 0.5rem;
}

.events-details #clearEventsBtn {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  browser-window {
    --bw-background: var(--background-alt);
  }
}

/* Component custom style */
a-tab-group.custom-style {
  --selected-tab-color: var(--background-body);
  --selected-tab-bg-color: #005fcc;
  --tab-group-border-color: var(--border);
  --tab-group-bg-color: #ffffff;
  --scroll-button-inline-offset: 0.25rem;

  border: 1px solid var(--tab-group-border-color);
  border-radius: 0.25rem;
  background-color: var(--tab-group-bg-color);
  overflow: hidden;
}

a-tab-group.custom-style::part(scroll-button) {
  border-radius: 0.25rem;
}

a-tab-group.custom-style::part(tabs) {
  padding: 0.5rem;
}

a-tab-group.custom-style::part(panels) {
  padding: 1rem;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--tab-group-border-color);
}

a-tab-group[placement="bottom"].custom-style::part(panels) {
  border-width: 0 0 1px 0;
}

a-tab-group[placement="start"].custom-style::part(panels) {
  border-width: 0 0 0 1px;
}

a-tab-group[placement="end"].custom-style::part(panels) {
  border-width: 0 1px 0 0;
}

a-tab-group.custom-style a-tab::part(base) {
  border-radius: 0.25rem;
}

a-tab-group[placement="top"].custom-style a-tab,
a-tab-group[placement="bottom"].custom-style a-tab {
  margin: 0 0.25rem;
}

a-tab-group[placement="start"].custom-style a-tab,
a-tab-group[placement="end"].custom-style a-tab {
  margin: 0.25rem 0;
}

a-tab-group.custom-style a-tab[selected]::part(close-tab) {
  color: var(--selected-tab-color);
}

@media (prefers-color-scheme: dark) {
  a-tab-group {
    --selected-tab-color: #99c8ff;
  }

  a-tab-group.custom-style {
    --selected-tab-bg-color: #99c8ff;
    --tab-group-bg-color: #202125;
    --tab-group-border-color: #494c50;
  }
}
